
torch==2.3.1+cpu


gymnasium[box2d]==0.29.1
stable-baselines3[extra]==2.3.0


opencv-python-headless==4.10.0.84
mss==9.0.1
pynput==1.7.7
pyautogui==0.9.54


numpy==1.26.4
pandas==2.2.2
tqdm==4.66.5
rich==13.9.1
matplotlib==3.9.2
seaborn==0.13.2

